<div class="overview-container">
    <div class="text-center">
        <h1>Competition Simulation</h1>

        <div *ngIf="live">
            Simulation on course. Please wait a few seconds until it's finished and the remaining time till next one will show up		
        </div>
        <div *ngIf="timeLeft.leftTime && !live">
            <div>
                Time remaining for the next simulation:
            </div>
            <div style="font-size: x-large">
                <countdown [config]="timeLeft" >
                    <!-- (start)="onStart()"
                    (finished)="onFinished()"
                    (notify)="onNotify($event)"> -->
                </countdown>
            </div>
        </div>
    </div>

    <div class="row margin-top2">
        <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let match of matches">
            <app-competition-simulation-match [match]="match">
            </app-competition-simulation-match>
        </div>
    </div>
</div>
