<div class="container-fluid">
 
  <h1>Competition Simulation</h1>

  <div class="row">
      <div class="col-sm-6" *ngFor="let match of matches">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{match.id}}-{{match.matchEvents.length}}
                </div>
                <div class="panel-body">
                    <div class="row" *ngFor="let event of match.matchEvents">
                        <div class="col-sm-3">
                            {{event.minute}}
                        </div>
                        <div class="col-sm-9">
                            <!-- {{event | json}} -->
                            <app-competition-simulation-event [matchEvent]="event"></app-competition-simulation-event>
                        </div>
                    </div>
                    <div class="row" *ngIf="match.finished">
                        <div class="col-sm-12">
                            FINISHED
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!-- <div class="row">
      <form class="form-inline" (ngSubmit)="sendMessage()" #messageForm="ngForm">
          <div class="form-group">
              <label class="sr-only" for="message">Message</label>
              <input type="text" class="form-control" id="message" placeholder="your message..." name="message" [(ngModel)]="message" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!messageForm.valid">Send SignalR Message</button>
      </form>
  </div>
  <div class="row" *ngIf="messages.length > 0">
      <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Messages</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let message of messages; let i = index">
                      <td>{{i + 1}}</td>
                      <td>{{message}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="row" *ngIf="messages.length <= 0">
      <span>No messages</span>
  </div>
</div> -->