<!-- 
<div *ngIf="teamDetails" >
  <div class="row">
    <div class="col-sm-3">
      <img src="{{teamDetails.pictureLogo.url}}" width="100" height="100" />
      <label>{{teamDetails.name}}</label>
      <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Teams</a>
      <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
        <li routerLinkActive="active">
          <a routerLink="summary">Summary</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="squad">Squad</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="competitions" routerLinkActive="active">Competitions</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="news" routerLinkActive="active">News</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>  
</div> -->

<div *ngIf="teamDetails">
  <div class="sidenavJAJA" >
    <img src="{{teamDetails.pictureLogo.url}}" width="100" height="100" />
    <label>{{teamDetails.name}}</label>
    <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Teams</a>
    <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
      <li routerLinkActive="active">
        <a routerLink="summary">Summary</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="squad">Squad</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="competitions" routerLinkActive="active">Competitions</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="news" routerLinkActive="active">News</a>
      </li>
    </ul>
  </div>
  <div class="mainJAJA">
    <router-outlet></router-outlet>
  </div>
</div>
