
<div *ngIf="playerDetails" >
  <div class="row">
    <div class="col-sm-9">
      <h3>{{playerDetails.name}} {{playerDetails.surname}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
        <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Players</a>
        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
          <li routerLinkActive="active">
            <a routerLink="summary">Summary</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="statistics" routerLinkActive="active">Statistics</a>
          </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

