<h1 mat-dialog-title>Team details</h1>

<form #teamForm="ngForm" id="teamForm" name="teamForm">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field>
        <input matInput placeholder="Name" name="name" [(ngModel)]="model.name" required>
        <!-- <app-custom-form-input [(model)]="model.name" [label]="'Name'" /> -->
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City" name="city" [(ngModel)]="model.city" required>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <!-- <img src="{{model.picture.url}}" height="100px" width="100px"/> -->
      <dropzone
        class="dropzone-container"
        [config]="config"
        [disabled]="disabled"
        [message]="'Click or drag images here to upload'"
        (error)="onUploadError($event)"
        (success)="onUploadSuccess($event)">
      </dropzone>
      <div class="action-button delete-dropzone-image"
        (click)='resetDropzoneUploads()'>
        Remove image
      </div>
    </div>
  </div>
</form>

<div mat-dialog-actions class="text-right" style="display: block">
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="saveAndClose(teamForm)" cdkFocusInitial>Save</button>
  <!-- <button mat-button [mat-dialog-close]="model" cdkFocusInitial>Save</button> -->
</div>