<h1 mat-dialog-title>Player picture</h1>
<div>
  <p>Select picture:</p>
  <div class="row" *ngIf="model">
    <div class="col-sm-6">
        <img-cropper [image]="model" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="col-sm-6">
      <div class="previewCroppedImage centeredContainer">
        <div class="centeredItem">
          <img [src]="model.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="text-right" style="display: block">
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="model.image" cdkFocusInitial>Ok</button>
</div>