<div class="row form-group">
  <div class="col-md-4">
    {{label}}
  </div>
  <div class="col-md-4">
    <input class="form-control" 
    [ngModel]=model (ngModelChange)="updateData($event)" #propertyNameAttached="ngModel" required type="text" 
    [attr.name]="label" [attr.id]="label" >
  </div>
  <div class="col-md-4">
    <!-- {{propertyNameAttached.invalid && propertyNameAttached.errors.required}} -->
    <div *ngIf="propertyNameAttached.invalid && propertyNameAttached.touched">
      <label>Please enter a valid {{label}}</label>
    </div>
  </div>
</div>