<h3>Playoff</h3>

<div *ngIf="draw" class="brackets_container" style="background-color: #f0f0f0">
    <table>
        <thead>
            <tr>
                <th>
                    <span>Round of 16</span>
                </th>
                <th>
                    <span>Quarter-finals</span>
                </th>
                <th>
                    <span>Semi-finals</span>
                </th>
                <th>
                    <span>final</span>
                </th>
                <th>
                    <span>Semi-finals</span>
                </th>
                <th>
                    <span>Quarter-finals</span>
                </th>
                <th>
                    <span>Round of 16</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="playground">
                <td class="round_column r_16 ">
                    <div *ngFor="let match of draw.eightLeft">
                        <app-draw-match [match]="match" [competitionData]="competitionData">
                        </app-draw-match>
                    </div>
                </td>
                <td class="round_column r_8">
                    <div *ngFor="let match of draw.quarterFinalsLeft">
                        <app-draw-match [match]="match" [competitionData]="competitionData">
                        </app-draw-match>
                    </div>
                </td>
                <td class="round_column r_4">
                    <app-draw-match [match]="draw.semifinalsLeft" [competitionData]="competitionData">
                    </app-draw-match>
                </td>
                <td class="round_column r_2 final">
                    <div class="winner_team">
                        <span>WINNER
                            <a href="#">
                                <img width="25" height="25" src="{{draw.final.goalsLocal>draw.final.goalsVisitor?draw.final.localTeam.pictureLogo.url:draw.final.visitorTeam.pictureLogo.url}}" alt="{{draw.final.localTeam.name}}">
                                <span>
                                    {{draw.final.goalsLocal>draw.final.goalsVisitor?draw.final.localTeam.name:draw.final.visitorTeam.name}}
                                </span>
                            </a>
                        </span>
                    </div>
                    <div class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top winner first" data-team-id="9">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{draw.final.localTeam.pictureLogo.url}}" alt="{{draw.final.localTeam.name}}">
                                        <span class="truncate">{{draw.final.localTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.final.goalsLocal}}</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm winner second" data-team-id="2">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{draw.final.visitorTeam.pictureLogo.url}}" alt="{{draw.final.visitorTeam.name}}">
                                        <span class="truncate">{{draw.final.visitorTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.final.goalsVisitor}}</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                
                                <a routerLink="/competitions/detail/{{competitionData.id}}/match/{{draw.final.matchId}}">
                                    <span>{{draw.final.date | date:'MMM d, y, h:mm a'}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="round_column r_4 reversed">
                    <app-draw-match [match]="draw.semifinalsRight" [competitionData]="competitionData">
                    </app-draw-match>
                </td>
                <td class="round_column r_8 reversed">
                    <div *ngFor="let item of draw.quarterFinalsRight">
                        <app-draw-match [match]="item" [competitionData]="competitionData">
                        </app-draw-match>
                    </div>
                </td>
                <td class="round_column r_16 reversed">
                    <div *ngFor="let item of draw.eightRight">
                        <app-draw-match [match]="item" [competitionData]="competitionData">
                        </app-draw-match>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>