<h1>Competition basic info</h1>
<div *ngIf="draw" class="brackets_container" style="background-color: #f0f0f0">
    <table>
        <thead>
            <tr>
                <th>
                    <span>Round of 16</span>
                </th>
                <th>
                    <span>Quarter-finals</span>
                </th>
                <th>
                    <span>Semi-finals</span>
                </th>
                <th>
                    <span>final</span>
                </th>
                <th>
                    <span>Semi-finals</span>
                </th>
                <th>
                    <span>Quarter-finals</span>
                </th>
                <th>
                    <span>Round of 16</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="playground">
                <td class="round_column r_16 ">
                    <div *ngFor="let match of draw.eightLeft" class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top winner" data-team-id="9">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{match.localTeam.pictureLogo.url}}" alt="{{match.localTeam.name}}">
                                        <span>{{match.localTeam.name}}</span>
                                    </a>
                                    <strong>{{match.goalsLocal}}</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm loser" data-team-id="10">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{match.visitorTeam.pictureLogo.url}}" alt="{{match.visitorTeam.name}}">
                                        <span>{{match.visitorTeam.name}}</span>
                                    </a>
                                    <strong>{{match.goalsVisitor}}</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="round_column r_8">
                    <div *ngFor="let match of draw.quarterFinalsLeft" class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top winner" data-team-id="9">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{match.localTeam.pictureLogo.url}}" alt="{{match.localTeam.name}}">
                                        <span>{{match.localTeam.name}}</span>
                                    </a>
                                    <strong>4</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm loser" data-team-id="12">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{match.visitorTeam.pictureLogo.url}}" alt="{{match.visitorTeam.name}}">
                                        <span>{{match.visitorTeam.name}}</span>
                                    </a>
                                    <strong>2</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="round_column r_4">
                    <div class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top winner" data-team-id="9">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{draw.semifinalsLeft.localTeam.pictureLogo.url}}" alt="{{draw.semifinalsLeft.localTeam.name}}">
                                        <span>{{draw.semifinalsLeft.localTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.semifinalsLeft.goalsLocal}}</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm loser" data-team-id="16">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{draw.semifinalsLeft.visitorTeam.pictureLogo.url}}" alt="{{draw.semifinalsLeft.visitorTeam.name}}">
                                        <span>{{draw.semifinalsLeft.visitorTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.semifinalsLeft.goalsVisitor}}</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="round_column r_2 final">
                    <div class="winner_team">
                        <span>WINNER
                            <a href="#">
                                <img width="25" height="25" src="{{draw.final.localTeam.pictureLogo.url}}" alt="{{draw.final.localTeam.name}}">
                                <span>
                                    {{draw.final.goalsLocal>draw.final.goalsVisitor?draw.final.localTeam.name:draw.final.visitorTeam.name}}
                                </span>
                            </a>
                        </span>
                    </div>
                    <div class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top winner first" data-team-id="9">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{draw.final.localTeam.pictureLogo.url}}" alt="{{draw.final.localTeam.name}}">
                                        <span>{{draw.final.localTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.final.goalsLocal}}</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm winner second" data-team-id="2">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{draw.final.visitorTeam.pictureLogo.url}}" alt="{{draw.final.visitorTeam.name}}">
                                        <span>{{draw.final.visitorTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.final.goalsVisitor}}</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mtch_container third_position">
                        <div class="match_unit">
                            <div class="m_segment m_botm winner third" data-team-id="16">
                                <span>
                                    <a href="#">
                                        <img src="imgs/flags/England.png" alt="England">
                                        <span>England</span>
                                    </a>
                                    <strong>3</strong>
                                </span>
                            </div>
                            <div class="m_segment m_top losers fourth" data-team-id="8">
                                <span>
                                    <a href="#">
                                        <img src="imgs/flags/Saudi-Arabia.png" alt="Saudi-Arabia">
                                        <span>Saudi</span>
                                    </a>
                                    <strong>2</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div> -->
                </td>
                <td class="round_column r_4 reversed">
                    <div class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top winner" data-team-id="2">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{draw.semifinalsRight.localTeam.pictureLogo.url}}" alt="{{draw.semifinalsRight.localTeam.name}}">
                                        <span>{{draw.semifinalsRight.localTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.semifinalsRight.goalsLocal}}</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm loser" data-team-id="8">
                                <span>
                                    <a href="#">
                                            <img width="25" height="25" src="{{draw.semifinalsRight.visitorTeam.pictureLogo.url}}" alt="{{draw.semifinalsRight.visitorTeam.name}}">
                                        <span>{{draw.semifinalsRight.visitorTeam.name}}</span>
                                    </a>
                                    <strong>{{draw.semifinalsRight.goalsVisitor}}</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="round_column r_8 reversed">
                    <div *ngFor="let item of draw.quarterFinalsRight" class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top loser" data-team-id="3">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{item.localTeam.pictureLogo.url}}" alt="{{item.localTeam.name}}">
                                        <span>{{item.localTeam.name}}</span>
                                    </a>
                                    <strong>2</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm winner" data-team-id="2">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{item.visitorTeam.pictureLogo.url}}" alt="{{item.visitorTeam.name}}">
                                        <span>{{item.visitorTeam.name}}</span>
                                    </a>
                                    <strong>3</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="round_column r_16 reversed">
                    <div *ngFor="let item of draw.eightRight" class="mtch_container">
                        <div class="match_unit">
                            <div class="m_segment m_top winner" data-team-id="3">
                                <span>
                                    <a href="#">
                                        <img width="25" height="25" src="{{item.localTeam.pictureLogo.url}}" alt="{{item.localTeam.name}}">
                                        <span>{{item.localTeam.name}}</span>
                                    </a>
                                    <strong>{{item.goalsLocal}}</strong>
                                </span>
                            </div>
                            <div class="m_segment m_botm loser" data-team-id="4">
                                <span>
                                    <a href="#">
                                            <img width="25" height="25" src="{{item.visitorTeam.pictureLogo.url}}" alt="{{item.visitorTeam.name}}">
                                        <span>{{item.visitorTeam.name}}</span>
                                    </a>
                                    <strong>{{item.goalsVisitor}}</strong>
                                </span>
                            </div>
                            <div class="m_dtls">
                                <span>June 10, 2015 - 8:00 pm</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>