.sidenavDetails {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 90px; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 20px;
}

.mainDetails {
    padding: 0px 20px;
}

@media only screen and (min-width: 600px) {
    .mainDetails {
        margin-left: 300px; /* Same as the width of the sidebar */
        margin-top: 90px;
    }
}

@media only screen and (max-width: 600px) {
    .sidenavDetails {
        margin-top: 120px; padding: 20px;
    }
}

.activeDetailsNavOption {
    background-color: lightblue !important;
}