<p>
  competition-detail works!
</p>


<div class="row">
  <div class="col-sm-3">
      <a href="#" class="nav-tabs-dropdown btn btn-block btn-primary">Tabs</a>
      <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
        <li routerLinkActive="active">
          <a routerLink="summary">Summary</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="teams">Teams</a>
        </li>
      </ul>
  </div>
  <div class="col-sm-9">
      <router-outlet></router-outlet>
  </div>
</div>