<div class="panel panel-default">
  <div class="panel-heading">{{team.name}}</div>
  <div class="panel-body">
    <div *ngFor="let player of players | filterBy: { teamId: team.id, start: true }; let i=index;">
      <div class="row">
        <div class="col-sm-1">{{player.dorsal}}</div>
        <div class="col-sm-5" [popover]="myPopover" (click)="selectPlayer(player.playerId)">
          {{player.name}} {{player.surname}}
        </div>
        <div class="col-sm-1">
            <span *ngIf="player.substitutionIn" class="glyphicon glyphicon-arrow-left"></span>
            <span *ngIf="player.substitutionOut" class="glyphicon glyphicon-arrow-right"></span>
        </div>
        <div class="col-sm-2">
          <div *ngFor="let booking of player.bookings" >
            <img *ngIf="booking.type=='Amarilla'" src="/assets/img/yellow_card-512.png" width="20" height="20"/>
            <img *ngIf="booking.type!='Amarilla'" src="/assets/img/red_card-512.png" width="20" height="20"/>
            <label class="small">{{booking.minute}}</label>
          </div>
        </div>
        <div class="col-sm-2">
          <span *ngFor="let goal of player.goals">
              <img src="/assets/img/ball.png" width="20" height="20"/>
              <label class="small">{{goal.minute}}</label>
          </span>
        </div>
      </div>
    </div>
    <hr>
    <div *ngFor="let player of players | filterBy: { teamId: team.id, start: false }; let i=index;">
        <div class="row">
          <div class="col-sm-1">{{player.dorsal}}</div>
          <div class="col-sm-5" [popover]="myPopover" (click)="selectPlayer(player.playerId)">
            {{player.name}} {{player.surname}}
          </div>
          <div class="col-sm-1">
              <span *ngIf="player.substitutionIn" class="glyphicon glyphicon-arrow-left"></span>
              <span *ngIf="player.substitutionOut" class="glyphicon glyphicon-arrow-right"></span>
          </div>
          <div class="col-sm-2">
            <div *ngFor="let booking of player.bookings" >
              <img *ngIf="booking.type=='Amarilla'" src="/assets/img/yellow_card-512.png" width="20" height="20"/>
              <img *ngIf="booking.type!='Amarilla'" src="/assets/img/red_card-512.png" width="20" height="20"/>
              <label class="small">{{booking.minute}}</label>
            </div>
          </div>
          <div class="col-sm-2">
            <span *ngFor="let goal of player.goals">
                <img src="/assets/img/ball.png" width="20" height="20"/>
                <label class="small">{{goal.minute}}</label>
            </span>
          </div>
        </div>
      </div>
  </div>
</div>

<popover-content #myPopover title="Player statistics" placement="bottom" [closeOnClickOutside]="true">
  <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
  <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>. Click outside of this popover and it will be dismissed automatically.
  <u (click)="myPopover.hide()">Or click here to close it</u>.
  <app-match-player-statistics [matchId]="matchId" [playerId]="selectedPlayerId"></app-match-player-statistics>
</popover-content>