<div class="panel panel-default">
  <div class="panel-heading">{{team.name}}</div>
  <div class="panel-body">
    <div *ngFor="let player of players | filterBy: { teamId: team.id, start: true }; let i=index;">
      <app-match-players-single [player]="player" [matchId]="matchId" ></app-match-players-single>
    </div>
    <hr>
    <div *ngFor="let player of players | filterBy: { teamId: team.id, start: false }; let i=index;">
      <app-match-players-single [player]="player" [matchId]="matchId"></app-match-players-single>
    </div>
  </div>
</div>