.google-login-page{
    width: 70%;
    margin: auto;
    padding:10px;
    box-shadow: 0px 0px 3px #CCC;
}

.example-spacer {
    flex: 1 1 auto;
}

@media only screen and (min-width: 600px) {
    .main-route-container {
        margin-top:60px
    }
}
