<button (click)="loginWithFacebook()">HEY</button>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">FootballWeb Reloaded</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="btn-group nav navbar-nav" *ngIf="appArea != 'Teams'">
          <li [ngClass]="{'btn-primary': appArea == 'Teams' }"><a routerLink="/teams">Teams</a></li>
        </ul>
        
        <ul class="btn-group nav navbar-nav" dropdown *ngIf="appArea == 'Teams'">
          <li dropdownToggle class="dropdown-toggle btn-primary" style="cursor: pointer">
            <a style="color:white">Teams<span class="caret"></span></a>
          </li>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </ul>

        <ul class="btn-group nav navbar-nav" *ngIf="appArea !== 'Competitions'">
          <li><a routerLink="/competitions">Competitions</a></li>
        </ul>

        <ul class="btn-group nav navbar-nav" dropdown *ngIf="appArea === 'Competitions'">
          <li dropdownToggle class="dropdown-toggle btn-primary" style="cursor: pointer">
            <a style="color:white">Competitions<span class="caret"></span></a>
          </li>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </ul>
        <ul class="btn-group nav navbar-nav" *ngIf="appArea != 'Players'">
          <li><a routerLink="/players">Players</a></li>
        </ul>
        <ul class="btn-group nav navbar-nav" dropdown *ngIf="appArea == 'Players'">
          <li dropdownToggle class="dropdown-toggle btn-primary" style="cursor: pointer">
            <a style="color:white">Players<span class="caret"></span></a>
          </li>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<router-outlet></router-outlet>