<h1 class="text-center">Player basic info</h1>

<mat-card *ngIf="playerDetails$ | async as haha">
  <div class="row">
    <div class="col-sm-7 text-center">
      <div style="font-size: large">
        <div>First Name: {{ haha.name }}</div>
        <div>Last Name: {{ haha.surname }}</div>
        <div>Position: {{ haha.position }}</div>
        <div>Height: {{ haha.height }} m</div>
        <div>Place of Birth: {{ haha.birthPlace }}</div>
        <div>
          Date of Birth:
          {{ haha.birthDate | date: "MMM d, y" }}
        </div>
      </div>

      <div>
        <button class="margin-top1" mat-raised-button (click)="openDialog()">
          Edit Player
        </button>
      </div>
    </div>
    <div class="col-sm-5 text-right">
      <img src="{{ haha.picture.url }}" height="300px" width="300px" />
    </div>
  </div>
</mat-card>
