<h1>Player basic info</h1>

<div class="row">
  <div class="col-sm-3">
    {{playerDetails.name}}
  </div>
  <div class="col-sm-3">
    {{playerDetails.surname}}
  </div>
  <div class="col-sm-6">
    <img src="{{playerDetails.picture.url}}" height="300px" width="300px"/>
    <button *ngIf="userRole === 'Admin'" mat-raised-button (click)="openDialog()">Edit Player</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">

    {{playerDetails.position}}

  </div>
  <div class="col-sm-3">
    {{playerDetails.height}}
  </div>
  <div class="col-sm-6">

  </div>
</div>


