<section>
  <!-- <button mat-raised-button color="primary" *ngIf="!token" (click)="loginWithFacebook()" >Facebook Sign-In</button>  
  <button *ngIf="!token" id="google-login-button" mat-raised-button color="primary" (click)="loginWithGoogle()">Google Sign-In</button> -->


  <span class="loginButton facebook pointer" *ngIf="!token" (click)="loginWithFacebook()" ></span>
  <span class="loginButton google pointer"  *ngIf="!token" id="google-login-button" (click)="loginWithGoogle()"></span>


  <div *ngIf="token">
      <!-- <b>TOKEN: </b>
      <p>{{token}}</p>
      <b>NAME: </b>
      
      <b>EMAIL: </b>
      <p>{{email}}</p> -->
  
    <img class="loginImage" src="{{imageURL}}">
    <span class="loginName hidden-xs">{{name}}</span>
    <button mat-raised-button color="warn" id="google-login-button" (click)="logout()">Logout</button>
    
  </div>

</section>