<h1 class="text-center">
  Team basic info
</h1>

<mat-card>
  <div class="row">
    <div class="col-sm-4 text-center">
      <div style="font-size: large">
        <div>Team name: {{teamDetails.name}}</div>
        <div>City: {{teamDetails.city}}</div>
      </div>

      <button class="margin-top1" *ngIf="userRole === 'Admin'" mat-raised-button (click)="openDialog()">Edit Team</button>
    </div>
    <div class="col-sm-4">
      <div *ngIf="stadium">
        {{stadium.name}}
        Capacity: {{stadium.capacity}} people
      </div>
      <agm-map *ngIf="location" [zoom]="zoom"
        [disableDefaultUI]="false"
        [latitude]="location.lat"
        [longitude]="location.lng" [zoomControl]="true"
        (mapClick)="mapClicked($event)">
        <agm-marker *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
        </agm-marker>
      </agm-map>
    </div>
    <div class="col-sm-4 text-right">
      <img src="{{teamDetails.pictureLogo.url}}" height="300px" width="300px">
    </div>
  </div>

</mat-card>