<div class="text-center">
  <h1>News</h1>

  <div class="row">
    <div
      class="col-md-3 col-sm-4 col-xs-6"
      *ngFor="let item of feedList"
      style="margin-bottom: 10px"
    >
      <mat-card class="example-card">
        <a href="{{ item.link }}" target="_blank">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>
              {{ item.title }}
            </mat-card-title>
            <mat-card-subtitle>{{ item.categories[0] }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            class="media"
            src="{{
              item.enclosure.thumbnail
                ? item.enclosure.thumbnail
                : '/assets/img/no-image.png'
            }}"
            alt="news"
          />
          <mat-card-content>
            {{ item.author }}
            <br />
            {{ item.pubDate }}
          </mat-card-content>
          <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
        </a>
      </mat-card>
    </div>
  </div>
</div>
