<section>
  <header>
    <h1>Angular todo app</h1>
    <input
      placeholder="What needs to be done?"
      [(ngModel)]="newTodo.title"
      (keyup.enter)="addTodo()">
  </header>
  <section *ngIf="incompleteTodos.length > 0">
    <ul>
      <li *ngFor="let todo of incompleteTodos">
        <ng-container>
          <input type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button (click)="removeTodo(todo)">rm</button>
        </ng-container>
      </li>
    </ul>
  </section>
  <section *ngIf="completeTodos.length > 0">
    <h2>Done</h2>
    <ul>
      <li *ngFor="let todo of completeTodos">
        <ng-container>
          <input type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button (click)="removeTodo(todo)">rm</button>
        </ng-container>
      </li>
    </ul>
  </section>
  <footer *ngIf="allTodos() > 0">
    <strong>{{allTodos()}}</strong>
    {{allTodos() == 1 ? 'item' : 'items'}} in list
  </footer>
</section>