<div class="container-fluid custom-modal-container cropper-modal">
  <div class="row modal-header">
    <div class="col-sm-12">
        <div class="gray-light pull-right pointer xxl" (click)="closeDialog(null)" >×</div>
        <label class="lg">Upload and crop your photo</label>
    </div>
  </div>

  <div class="row" *ngIf="teamSelected">
    <div class="col-sm-6">
        <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
    <div class="col-sm-6">
        <img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
    </div>
  </div>

  <button class="btn btn-primary" (click)="closeDialog(null)">CLOSE</button>
  <button class="btn btn-primary" (click)="updateTeamLogo()">UPLOAD to blob storage</button>
</div>