
<div class="text-center overview-container homeBackground" style>
  <!-- <img src="/assets/img/barcelona2015.jpg" alt="" class="img-responsive">
  <h2>Football Rebuild app</h2> -->
  <app-rss-reader [feedUrl]="'https://e00-marca.uecdn.es/rss/portada.xml'"></app-rss-reader>
  <!-- <button mat-raised-button color="primary" id="linkManageTeams" routerLink="/teams">Manage Teams</button>
  <button mat-raised-button color="primary" id="linkManageCompetitions" routerLink="/competitions">Manage competitions</button>
  <button mat-raised-button color="primary" id="linkManagePlayers" routerLink="/players">Manage players</button> -->
</div>