<div class="panel panel-default">
  <div class="panel-heading"> 
    {{match.id}}-<span *ngIf="teamLocal | async; let ti">{{ti.name}}</span> - 
    <span>{{match.goalsLocal}}</span>-
    <span>{{match.goalsVisitor}}</span>
    <span *ngIf="teamVisitor | async; let ti">{{ti.name}}</span>
    <span>{{match.date | date:'MMM d, y, h:mm a'}}</span>
  </div>
  <div class="panel-body">
      <div class="row" *ngFor="let event of match.matchEvents">
          <div class="col-sm-3">
              {{event.minute}}
          </div>
          <div class="col-sm-9">
              <!-- {{event | json}} -->
              <app-competition-simulation-event [matchEvent]="event"></app-competition-simulation-event>
          </div>
      </div>
      <div class="row" *ngIf="match.finished">
          <div class="col-sm-12">
              FINISHED
          </div>
      </div>
  </div>
</div>