<div class="panel panel-default">
  <div class="panel-heading text-center">
        <span *ngIf="teamLocal | async; let ti">{{ti.name}}</span>
        <span style="padding-left: 5px">{{match.goalsLocal}}</span>
        <span style="padding:5px">-</span>
        <span style="padding-right: 5px">{{match.goalsVisitor}}</span>
        <span *ngIf="teamVisitor | async; let ti">{{ti.name}}</span>
    <div class="small">{{match.date | date:'MMM d, y, h:mm a'}}</div>
  </div>
  <div class="panel-body small">
      <div class="row" *ngFor="let event of match.matchEvents">
          <div class="col-sm-3">
              {{event.minute}}
          </div>
          <div class="col-sm-9">
              <!-- {{event | json}} -->
              <app-competition-simulation-event [matchEvent]="event"></app-competition-simulation-event>
          </div>
      </div>
      <div class="row" *ngIf="match.finished">
          <div class="col-sm-12">
              FINISHED
          </div>
      </div>
  </div>
</div>